# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "redis-cluster-activesupport"
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [ '3.2', '3.1', '3.0', '2.7', '2.6', 'jruby-9.3', 'jruby-9.4' ]
        gemfile: [ 'rails60', 'rails61', 'rails70', 'rails71', 'rails72' ]
        exclude:
          - ruby-version: '2.6'
            gemfile: 'rails70'
          - ruby-version: '2.6'
            gemfile: 'rails71'
          - ruby-version: '2.6'
            gemfile: 'rails72'
          - ruby-version: '2.7'
            gemfile: 'rails72'
          - ruby-version: '3.0'
            gemfile: 'rails72'
          - ruby-version: 'jruby-9.3'
            gemfile: 'rails70'
          - ruby-version: 'jruby-9.3'
            gemfile: 'rails71'
          - ruby-version: 'jruby-9.3'
            gemfile: 'rails72'
    env: # $BUNDLE_GEMFILE must be set at the job level, so it is set for all steps
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
      RAILS_ENV: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}
      # Add or replace test runners here
      - name: Run tests
        run: bundle exec rspec
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
